

.calc-display {
    border: 1px solid grey;
    height: 60px;
    width: 275px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
}

.key-row:after {
    clear: both;
    content: '';
    display: table;
}

.AC {
    width: 70px;
    background-color: red;
}